<ion-header>
  <ion-toolbar>
    <ion-title>privacy-policies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, recusandae tenetur fugiat harum voluptatum voluptate, sint ullam neque atque quae libero dolores repellat ad ea obcaecati aspernatur tempore. Vel, unde?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius porro molestiae a eos quaerat, magnam voluptates odit alias nulla perferendis possimus debitis quisquam cupiditate. Earum officiis nesciunt perferendis minima! Quae.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo ratione tempora unde officiis dolorem laborum, nulla repellat debitis ipsa molestias? Beatae, ad quis! Id voluptatibus voluptates libero est tenetur!
</ion-content>
